html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
}

.title-1 {
  font-size: 36px;
  font-weight: 500;
}

.title-2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 120%;
}

.text {
  color: var(--text-muted);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;

  p + p {
    margin-top: 1em;
  }

  @include mediaLaptopL {
    font-size: 16px;
  }
  @include mediaTablet {
    font-size: 14px;
    line-height: 125%;
  }
}

.muted {
  color: var(--text-muted);
}
