:root {
  --container-width: 1230px;
  --container-padding: 15px;

  --font-main: "Rubik", sans-serif;

  --page-bg: #fff;
  --text-color: #181818;
  --accent: #35aff4;
  --text-muted: #6d6c6c;

  /*  --laptop-size: ; */

  /* --mobile-size: 599px; */
}

/* .dark {
  --page-bg: #252526;
  --text-color: #fff;
} */
