.button-registration {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    
    padding: 8px 20px;
    background: #181818;

    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    
    border: 1px solid #181818;

    color: #FFF;
    font-size: 16px;
    font-weight: 450;

    transition: background-color 0.2s ease-in, color 0.2s ease-in, opacity ;
}

.button-registration:hover, .button:focus {
    opacity: 0.9;
}

.button-registration:active {
    background-color: #222222;
}