.subscribe {
  padding: 80px 0;
  background-color: var(--accent);
  overflow: hidden;

  @include mediaLaptopL {
    padding: 20px 0;
  }
}

.subscribe__row {
  position: relative;
  padding-left: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  &::before {
    content: "";

    position: absolute;
    top: -80px;
    left: -100px;
    width: 237px;
    height: 273px;

    background-image: url("./../img/subscribe/label.svg");
    background-repeat: no-repeat;
    background-size: 93%;
  }

  @include mediaTabletS {
    flex-direction: column;
    padding: 0;
    &::before {
      display: none;
    }
  }
}

.subscribe__title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;

  @include mediaTabletXS {
    text-align: center;
  }
}
.subscribe__form {
  flex-shrink: 1;
}
