.testimonial-card {
  max-width: 378px;
  min-height: 415px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(23, 28, 31, 0.23);

  p {
    color: var(--text-muted);
    font-size: 16px;
    font-weight: 350;
    line-height: 150%;
  }

  @include mediaLaptop {
    max-width: 300px;
    padding: 20px;
  }
}

.testimonials__rating {
  display: flex;
  gap: 4px;
}
.testimonial-card__autor {
  display: flex;
  align-items: center;
  gap: 16px;
}
.testimonial-card__autor-img {
  max-width: 100%;
}
.testimonial-card__autor-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
